<div id="events-all">
    <div class="event-baseline">
        <h1 class="events-title">My events</h1>
        <br>
        <p class="events-subtitle">Find here all the events you have created.</p>
    </div>

    <section class="events">
        {{!-- {{#unless events}}
    <p>Sorry, no event here yet !</p>
    {{/unless}} --}}

        <div id="events_grid" class="events_grid">


            {{#each events}}
            <div class="oneEvent">
                <div class="oneEvent-image">
                    <div class="event-image">
                        <a href="/event/{{this._id}}" class="my-events">
                            <img src="{{this.image}}" alt="{{this.name}}">
                        </a>
                    </div>
                </div>
                <div class="text">

                    <p class="event-name">Event:
                        {{this.name}}

                          <p class="event-type">Type:
                        {{this.type}}
                    </p>

                    <p class="event-age">Age:
                        {{this.age}}
                    </p>

                    <p class="event-budget">Budget:
                        {{this.budget}}
                    </p>

                    <p class="event-interest">Interest:
                        {{#each this.interest}}
                        {{this}}&nbsp;
                        {{/each}}
                    </p>

                </div>
                <div>
                <a class="delete" href="/delete-event/{{this._id}}">Delete</a>
            </div>
            <div>
                <a class="uptdate" href="/edit-event/{{this._id}}">Update</a>
            </div>
            </div>
            {{/each}}

        </div>
    </section>
</div>